ENV=dev
PROJECT_NAME="app-name"
AWS_ACCESS_KEY=XXXX
AWS_SECRET_KEY=XXXX
AWS_REGION=XXXX
DOCKER_REPO=XXXX
DOCKER_PASSWORD=XXXX
EKS_CLUSTER_NAME=XXXX
APP_VERSION=XXXX
SECRET_KEY=XXXX
POSTGRES_USER=XXXX
POSTGRES_PASSWORD=XXXX
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
ADMIN_DB=XXXX
STUDENT_DB=XXXX
TEACHER_DB=XXXX